.row
  .col-md-12
    %ul.nav.nav-tabs
      %li.active
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Messages
      %li.dropdown.pull-right
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Dropdown
          %strong.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Action
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider
          %li
            %a{:href => "#"} Separated link